---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import { headerData, footerData } from '~/navigation';

const metadata = {
  title: '1RG Incubator',
};
---

<Layout metadata={metadata}>
  <Header slot="header" {...headerData} isSticky />

  <Hero
    tagline=""
    actions={[
      {
        variant: 'primary',
        text: 'Learn More',
        href: '#program',
      },
      { text: 'Read the RFP', href: 'https://docs.google.com/document/d/1Wu-dUFfxAa-7hQ7O7TSKhBWYRJxR09Z75zmC0Prcm0s/edit?tab=t.0#heading=h.53f8ced0i4y8' },
    ]}
  >
    <Fragment slot="title">
      Empowering our communities with humane technology
    </Fragment>

    <Fragment slot="subtitle">
      The 1RG incubator supports audacious projects that reimagine the relationship between people, technology, and the communities they live in.
    </Fragment>
  </Hero>

  <Features
    id="program"
    title="About the program"
    subtitle="The 1RG incubator is a 12-week mentorship program for individuals who are developing projects at the intersection of technology and community impact. Participants receive workspace access, mentorship, weekly peer accountability meetings, networking opportunities, and community support."
    columns={3}
    items={[
      {
        title: 'Co-working',
        description:
          'Free membership to the 1RG space for the duration of the program.',
        icon: 'tabler:home-2',
      },
      {
        title: 'Mentorships',
        description:
          'Mentorship and advisory, with weekly office hours with a variety of mentors.',
        icon: 'tabler:calendar-time',
      },
      {
        title: 'Accountability',
        description:'Weekly facilitated peer-to-peer accountability meetings.',
        icon: 'tabler:users',
      },
      {
        title: 'Networking',
        description:'Weekly dinners and networking opportunities.',
        icon: 'tabler:affiliate',
      },
      {
        title: 'Community',
        description:
          'A supportive group of builders and like minded individuals.',
        icon: 'tabler:friends',
      },
      {title: 'Exposure', // Legitimacy?
        description:
          'Opportunities to present your work to a wider audience.',
        icon: 'tabler:users-group',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features>

  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Apply',
        href: 'https://docs.google.com/forms/d/e/1FAIpQLSdiiQxGHhaxd7sBtePEImOZqSR5eDYP50xL0fCRdWvQf6lgog/viewform',
        icon: 'tabler:hand-click',
      },
    ]}
  >
    <Fragment slot="title">Join our first batch</Fragment>

    <Fragment slot="subtitle">Starts April 1st, 2025 with applications due January 31st, and requires no equity or financial commitment.</Fragment>
  </CallToAction>


  <FAQs
    id="faq"
    title="Frequently Asked Questions"
    subtitle="Here are some of the most frequently asked questions about the 1RG Incubator."
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Who can apply to this program?',
        description:
          'Any <b>individual</b> working on a project at the intersection of technology and community impact that benefits the city of Toronto.',
      },
      {
        title: 'Can my team participate in the program?',
        description:
          'The program is designed to support individuals. We can’t accommodate teams or organizations at this time, but we can make exceptions for pairs working on a project together.',
      },
      {
        title: 'Is there a cost to participants?',
        description: 'No, we don’t take any money or equity, nor do we charge any fees to participants.',
      },
      {
        title: 'Do you give money?',
        description:
          'We don’t currently have funding, but we’ll be doing our own fundraising and will provide mentorship and networking opportunities throughout the program.',
      },
      {
        title: 'Do I need to know how to code?',
        description:
          'Only if the implementation of your project requires it! While the 1RG Incubator has a strong focus on technology and how it can benefit our communities, we don’t believe that code is necessary to all solutions.',
      },
      {
        title: 'What’s my commitment in participating?',
        description: `
          We ask that you commit to participating in person to weekly rituals for the duration of the program: a weekly facilitated peer-to-peer accountability session, a weekly dinner, and a monthly presentation/show and tell. Other than this, you can be at the 1RG Space as much or as little as you’d like (but you’ll have access 8am-10pm Mon-Fri either way).
`,
      },
    ]}
  />
  <Footer slot="footer" {...footerData} />
</Layout>
